@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    font-family: "Inter", sans-serif;
}
header {
    background-color: #F5F3EF;
}
nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

div.right-nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

div.left-nav {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

div.center-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
}

a.navlink{
    color: #292929;
    font-size: 14px;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
}

.description {
    font-size: 16px;
    font-weight: 300;
}

.cta-button {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 152px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 20px;
    max-width: 330px;
}

#hero_image {
    width: 404px;
    height: 539px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
    background-color: #F5F3EF;
}

#author_image {
    font-size: 14px;
    font-style: italic;
    color: #A6A6A6;
    text-align: right;
}

.title2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
}

.books-section {
    background-color: #FAF9F7;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
}

.new-books {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    background-color: white;
    width: 200px;
    height: 324px;
    display: flex;
    flex-direction: column;
}

.card_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card_title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

.card_author {
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
    margin-left: 12px;
}

.card_user {
    font-size: 10px;
    font-weight: 400;
    color: #A6A6A6;
    font-style: italic;
    margin-left: 12px;
}

.cta-button2 {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 63px;
    align-content: center;
    text-align: center;
}
