@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    font-family: "Inter", sans-serif;
}
header {
    background-color: #F5F3EF;
}
nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

div.right-nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

div.left-nav {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

div.center-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
}

a.navlink{
    color: #292929;
    font-size: 14px;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
}

.description {
    font-size: 16px;
    font-weight: 300;
}

.cta-button {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 152px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 20px;
    max-width: 330px;
}

#hero_image {
    width: 404px;
    height: 539px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
    background-color: #F5F3EF;
}

.author_image {
    font-size: 14px;
    font-style: italic;
    color: #A6A6A6;
}

.title2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    color: #292929;
}

.books-section {
    background-color: #FAF9F7;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
}

.new-books {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    background-color: white;
    width: 200px;
    height: 324px;
    display: flex;
    flex-direction: column;
}

.card_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card_title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

.card_author {
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
    margin-left: 12px;
}

.card_user {
    font-size: 10px;
    font-weight: 400;
    color: #A6A6A6;
    font-style: italic;
    margin-left: 12px;
}

.cta-button2 {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F5F3EF;
    gap: 50px;
}

.about-description {
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
    text-align: center;
}

.card2 {
    background-color: white;
    width: 200px;
    height: 140px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card_description {
    max-width: 180px;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.cta-button3 {
    border-color: #00AC66;
    border-style: solid;
    border-width: 2px;
    color: #00AC66;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.image {
    width: 100%;
    height: 230px;
    object-fit:cover;
}

.title3 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    text-align: start;
    color :#292929;
}

.about-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F5F3EF;
}

.heart_image {
    margin-left: 70px;
}

.author_image2 {
    font-size: 14px;
    font-style: italic;
    color: #A6A6A6;
    margin-left: 80px;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin-top: 10px;
}

.about-content2 {
    width: 400px;
}

.about-description2 {
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
    text-align: left;
}

footer {
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 90px;
    margin-right: 90px;
}

.footer-content {
    font-size: 14px;
    font-weight: 300;
    font-style: light;
}

#footer_image {
    width: 22px;
    height: 18px;
}

.exchange-books-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    background-color: #FAF9F7;
}

.search-bar {
    width: 322px;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    border-radius: 6px;
    border: 1px solid #F0F0F0 ;
}

#union_image {
  width: 14px;
  height: 14px;
}

#site-search {
   border: none;
   outline: none;
}

.top_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 270px;
}

#detail_book_image {
    width: 720px;
    height: 863px;
    object-fit: cover;
}

.cta-button4 {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 100px;
    display: block;
}

.little {
    font-size: 8px;
    font-weight: 600;
    color: #292929;
}

.owner-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    background-color: #FFFFFF;
    width: 157px;
    height: 60px;
    padding-left: 6px;
    padding-right: 17px;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 10px;
    margin-bottom: 80px;
}   

.author {
    font-size: 16px;
    font-weight: 400;
    color: #A6A6A6;
}

#line {
    margin-bottom: 30px;
    margin-top: 20px;
}

.detail_description {
    font-size: 14px;
    font-weight: 400;
    max-width: 500px;
    margin-bottom: 30px;
}

#owner_image {
    width: 48px;
    height: 48px;
    border-radius: 50%; 
}

#email {
   border: none;
   outline: none;
   width: 320px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#password {
   border: none;
   outline: none;
   width: 320px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#connect_image {
    width: 720px;
    height: 885px;
    object-fit: cover;
}

.connect-content {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
    max-width: 330px;
}

.connect-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 400px;
    background-color: #F5F3EF;
}

.signup-text {
    color: #292929;
    font-size: 14px;
}

.signup-link {
    color: #292929;
    text-decoration: underline;
}

#pseudo {
   border: none;
   outline: none;
   width: 320px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

.account-link {
    color: #292929;
}

.account-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 40px;
    background-color: #FAF9F7;
}

.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    max-width: 550px;
    max-height: 510px;
    border-radius: 20px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 65px;
    padding-bottom: 65px;
}

#account_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.modify-text {
    font-size: 16px;
    font-weight: 400;
    color: #A6A6A6;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 50px;
}

.account-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
    max-width: 550px;
    max-height: 510px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.account-input {
    background-color: #EDF2F6;
}

.infos-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.account-form {
    max-width: 320px;
}

.account-name {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-weight: 400;
    color: #292929;
    padding-top: 25px;
    margin: 0px;
}

.account-info {
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
}

.books-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-top: 5px; 
}

#book-text {
    margin: 0;
}

.little-text {
  font-size: 8px;
  font-weight: 600;
  color: #292929;
  margin: 0px;
  padding-top: 10px;
}

.books-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #FFFFFF;
    width: 1140px;
    height: 580px;
    margin-bottom: 200px;
}

.table {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.row {
  display: grid;
  grid-template-columns: 120px 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  align-items: center;
  padding: 20px 24px;
  font-size: 8px;
  color: #292929;
  font-weight: 600;
  font-size: 12px;
  font-weight: 400;
}

.row.alt {
  background: #f1f6f9;
}

.table-header {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: white;
}

.photo img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}

.table-description {
  font-style: italic;
  font-weight: 400;
  max-width: 128px;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}

.available {
  background: #6fcf97;
  color: white;
}

.unavailable {
  background: #c86c6c;
  color: white;
}

.actions {
  display: flex;
  gap: 16px;
}

.actions a {
  font-size: 14px;
  color: #292929;
  text-decoration: underline;
}

.actions a.delete {
  color: #ff4d4f;
}

.title5 {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 400;
    align-self: flex-start;
    padding-left: 420px;
}

.row2 {
  display: grid;
  grid-template-columns: 120px 1.5fr 1.5fr 1.5fr;
  align-items: center;
  padding: 20px 24px;
  font-size: 8px;
  color: #292929;
  font-weight: 600;
  font-size: 12px;
  font-weight: 400;
}

.table2 {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  width: 770px;
  max-height: 590px;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 50px;
}

.row2.alt {
  background: #f1f6f9;
}

.table2-header {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: white;
}

.table2-description {
  font-style: italic;
  font-weight: 400;
  max-width: 128px;
}

.account-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 340px;
  max-height: 590px;
  border-radius: 20px;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 65px;
  padding-bottom: 65px;
}

.cta-button5 {
  border-color: #00AC66;
  border-style: solid;
  border-width: 2px;
  color: #00AC66;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 218px;
  height: 63px;
  align-content: center;
  text-align: center;
  margin-top: 50px;
}

.account-section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAF9F7;
  padding-left: 150px;
  padding-right: 150px;
}

#edit_book_image {
  width: 488px;
  height: 488px;
  object-fit: cover;
}

.edit-link {
  color: #292929;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  text-align: end;
  padding-top: 20px;
}

.edit-image {
  display: flex;
  flex-direction: column;
}

#title {
   border: none;
   outline: none;
   width: 435px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#author {
   border: none;
   outline: none;
   width: 435px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#description {
   border: none;
   outline: none;
   width: 435px;
   height: 355px;
   margin-top: 15px;
   margin-bottom: 15px;
   resize: none;
}

.cta-button6 {
  background-color: #00AC66;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  width: 320px;
  height: 65px;
  align-content: center;
  text-align: center;
}

#disponibility {
   border: none;
   outline: none;
   width: 435px;
   height: 50px;
   margin-top: 15px;
   margin-bottom: 15px;
   resize: none;
}

.edit-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 1140px;
  height: 940px;
  padding: 50px;
}

.edit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAF9F7;
}

#book_image {
  padding-bottom: 10px;
}

#back{
  align-self: start;
  padding-left: 350px;
}