@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    font-family: "Inter", sans-serif;
}
header {
    background-color: #F5F3EF;
}
nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

div.right-nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

div.left-nav {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

div.center-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

a {
    text-decoration: none;
}

a.navlink{
    color: #292929;
    font-size: 14px;
}

.title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 400;
}

.description {
    font-size: 16px;
    font-weight: 300;
}

.cta-button {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 152px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 20px;
    max-width: 330px;
}

#hero_image {
    width: 404px;
    height: 539px;
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 100px;
    background-color: #F5F3EF;
}

.author_image {
    font-size: 14px;
    font-style: italic;
    color: #A6A6A6;
}

.title2 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    color: #292929;
}

.books-section {
    background-color: #FAF9F7;
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
}

.new-books {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.card {
    background-color: white;
    width: 200px;
    height: 324px;
    display: flex;
    flex-direction: column;
}

.card_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card_title {
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

.card_author {
    font-size: 14px;
    font-weight: 400;
    color: #A6A6A6;
    margin-left: 12px;
}

.card_user {
    font-size: 10px;
    font-weight: 400;
    color: #A6A6A6;
    font-style: italic;
    margin-left: 12px;
}

.cta-button2 {
    background-color: #00AC66;
    color: #FFFFFF;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F5F3EF;
    gap: 50px;
}

.about-description {
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
    text-align: center;
}

.card2 {
    background-color: white;
    width: 200px;
    height: 140px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card_description {
    max-width: 180px;
    font-size: 14px;
    font-weight: 400;
    align-self: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.cta-button3 {
    border-color: #00AC66;
    border-style: solid;
    border-width: 2px;
    color: #00AC66;
    border-radius : 10px;
    font-size: 16px;
    font-weight: 600;
    width: 218px;
    height: 63px;
    align-content: center;
    text-align: center;
}

.image {
    width: 100%;
    height: 230px;
    object-fit:cover;
}

.title3 {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-weight: 400;
    text-align: start;
    color :#292929;
}

.about-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F5F3EF;
}

.heart_image {
    margin-left: 70px;
}

.author_image2 {
    font-size: 14px;
    font-style: italic;
    color: #A6A6A6;
    margin-left: 80px;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    gap: 160px;
    margin-top: 10px;
}

.about-content2 {
    width: 400px;
}

.about-description2 {
    font-size: 16px;
    font-weight: 300;
    max-width: 400px;
    text-align: left;
}

footer {
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 90px;
    margin-right: 90px;
}

.footer-content {
    font-size: 14px;
    font-weight: 300;
    font-style: light;
}

#footer_image {
    width: 22px;
    height: 18px;
}

.exchange-books-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    background-color: #FAF9F7;
}

.search-bar {
    width: 322px;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A6;
    border-radius: 6px;
    border: 1px solid #F0F0F0 ;
}

#union_image {
  width: 14px;
  height: 14px;
}

#site-search {
   border: none;
   outline: none;
}

.top_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 270px;
}